*{
    margin:0;
    padding:0;
}

html, body{
    height:100%;
}

body{
    background-color:#690092;
    background-image: url(background.jpg);
    background-position:center;
    background-size:cover;
    background-blend-mode:soft-light;
}

.heading{
    width:600px;
    height:300px;
    margin:auto;
    position:absolute;
    top:0px; bottom:0px; top:0px; left:0px;
}
.title1{
    display: block;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 68pt;
    font-family: big john;
}
.title2{
    display: block;
    margin-top: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 14pt;
    font-family: serif;
}
.Download{
    margin: 15px auto;
    display: block;
    width: 180px;
    height: 50px;
    border: 3px solid rgb(255, 0, 0);
    background-color:rgba(255,255,255,0);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 5px;

    transition: background-color 1000ms, color 1000ms;
}
.Download:hover{
    background-color:rgb(255, 0, 0);
    color:#222;
    cursor:pointer;
    transition: background-color 1000ms, color 1000ms;

}
